:root {
    --white-color: #fff;
    --black-color: #140a00;
    --blue-color: #045fd4;
    --red-color: #ff0000;
    --grey-dark-color: #909090;
    --grey-light-color: #e0e0e0;

    --padding: 12px;
    --avatar-size: 36px;

    --font-large: 18px;
    --font-medium: 14px;
    --font-small: 12px;
    --font-micro: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: var(--white-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

.navbar_logo {
    font-size: var(--font-large);
}

.navbar_logo > i {
    color: var(--red-color);
}

.navbar_right > i + i {
    margin-left: var(--padding);
}
.navbar_right > i {
    cursor: pointer;
}
.navbar_right > i:hover {
    color: red;
}

.screen {
    /* position: sticky;
    top: 0; */
    text-align: center;
    background-color: var(--black-color);
}

.videoplayer {
    width: 100%;
    height: 100%;
    max-width: 1000px;
}

.tag {
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
    list-style: none;
}

.tag > li {
    margin-right: var(--padding);
}

.InfoAndUpNext > .info {
    padding: var(--padding);
}

.TitleAndMoreBtn {
    display: flex;
    justify-content: space-between;
}
.TitleAndMoreBtn > .title {
    font-size: var(--font-medium);
    margin: 5px var(--padding) 5px 0;
}

.TitleAndMoreBtn > .title.clamp {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.TitleAndMoreBtn > .moreBtn {
    height: 100%;
    transition: transform 300ms ease-in-out;
}

.TitleAndMoreBtn > .moreBtn.clicked {
    transform: rotate(180deg);
}

.ViwesAndTag {
    display: flex;
    flex-direction: row;
}

.ViwesAndTag > .views + .tag {
    margin-left: 10px;
}

.views {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.icons {
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0;
}

.icon_box > button {
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.icon_box > button > i {
    margin: 0 auto calc(val(--padding) / 2);
    font-size: 16px;
}

.icon_box > button > i.active {
    color: var(--blue-color);
}
.icon_box > button + p {
    margin-top: 5px;
}

.avatar_container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey-light-color);
    border-bottom: 1px solid var(--grey-light-color);
    padding: 10px 0;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar > img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
}

.text {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

.text > h3 {
    font-size: var(--font-medium);
}

.text > p {
    font-size: var(--font-small);
    color: var(--grey-dark-color);
}

.text > h3 + p {
    margin-top: 5px;
}

.subscribe {
    text-transform: uppercase;
    color: var(--red-color);
    font-size: var(--font-medium);
}

.comment_container {
    border-bottom: 1px solid var(--grey-light-color);
    padding: var(--padding) 0;
}
.comment {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-medium);
}
.comment > p {
    padding-bottom: 10px;
}
.comment_add {
    display: flex;
    align-items: center;
}
.comment_add > img {
    width: calc(var(--avatar-size) - 5px);
    height: calc(var(--avatar-size) - 5px);
    border-radius: 50%;
}
.comment_add > input {
    width: 90%;
    height: 25px;
    margin-left: 10px;
    padding-left: 10px;
    background-color: var(--grey-light-color);
    border: none;
    border-radius: 3px;
}

.upnext {
    padding: 0 var(--padding);
}

.upnext > .title {
    font-size: var(--font-medium);
    color: var(--grey-dark-color);
    margin-bottom: calc(val(--padding) / 2);
}

.items > .item {
    display: flex;
    flex-direction: column;
    margin-top: var(--padding);
}

.item > .thumbnail {
    width: 100%;
    margin-right: var(--padding);
}

.item > .thumbnail > img {
    width: 100%;
}
.infos {
    display: flex;
    flex-direction: row;
}

.infos > img {
    width: calc(var(--avatar-size) - 5px);
    height: calc(var(--avatar-size) - 5px);
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
}

.item > .moreBtn {
    display: flex;
}

.infos > .title {
    font-size: var(--font-small);
}
.infos > .name,
.infos > .views {
    font-size: var(--font-micro);
    color: var(--grey-dark-color);
}

.item > .moreBtn {
    flex: 1 1 5%;
}

.InfoAndUpNext {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 768px) {
    .subscribe {
        color: var(--white-color);
        background-color: var(--red-color);
        width: 70px;
        height: 40px;
        border-radius: 5px;
    }
    .InfoAndUpNext {
        flex-direction: row;
        margin: var(--padding) 0;
    }
    .infos > .title {
        font-size: var(--font-medium);
    }
    .infos > .name,
    .infos > .views {
        font-size: var(--font-small);
    }
    .comment_add > input {
        margin-left: 10px;
        padding-left: 10px;
        background-color: var(--white-color);
        border: none;
        border-bottom: 1px solid var(--grey-light-color);
    }
    /* 
    .items > .item{
        display: flex;
        margin-top: var(--padding);
    }
    
    .item > .thumbnail {
        flex: 1 1 35%;
        margin-right: var(--padding);
    }
    
    .item > .thumbnail > img {
        width: 100%;
    }
    .item > .info {
        display: flex;
        flex-direction: column;
        flex: 1 1 60%;
    }
    .info > .title{
        font-size: var(--font-small);
    }
    .info > .name, .info > .views {
        font-size: var(--font-micro);
        color: var(--grey-dark-color);
    }
    
    .item > .moreBtn{
        flex: 1 1 5%;
    } */
}

@media screen and (min-width: 1024px) {
    .infos {
        width: 70%;
    }
    .upnext {
        width: 30%;
    }

    .infos > .title {
        font-size: var(--font-large);
    }
    .infos > .name,
    .infos > .views {
        font-size: var(--font-medium);
    }

}
